@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
}
body{
    background: #f0f2f5;
    color: #5f5f5f;
}
a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background: #fff;
    padding: 0px 13%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.logo img{
    width: 40px;
    margin-right: 15px;
    display: block;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    display: flex;
}
.search-box{
    background: #edf3f8;
    width: 265px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 2px;
}
.search-box img{
    width: 20px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}
.nav-right ul{
    display: flex;
    align-items: center;
}
.nav-right ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
}
.nav-right ul li a{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85px;
    font-size: 12px;
    /* padding-right: 5px; */
}
.nav-right ul li a:hover{
    color: #000;
}
.nav-hover{
    position: relative;
}
.nav-hover::after{
    content: '';
    width: 0;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -9px;
    transition: width 0.3s;
}
.nav-hover:hover:after,
.active-link::after
{
    width: 95%;
}
#for-business-container{
    border-left: 1px solid #e8e8e8;
    padding-left: 5px;
    width: 95px;
}
.profile-img{
    width: 19px;
}
.down-arrow{
    width: 10px;
}
.underline{
    text-decoration: underline;
    color: #915907;
    font-size: 12px;
    padding-left: 15px;
}
.underline:hover{
    color: #793b09;
}
img{
    width: 22px;
}

/* --------------- navBar end ----------------- */

.container{
    padding: 20px 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f4f2ee;
}

/* --------------- left-sidebar ----------------- */
.left-sidebar{
    flex-basis: 20%;
    align-self: flex-start;
}

.sidebar-profile-box{
    background: #fff;
    border-radius: 5px;
    border: 1px solid #dfdeda;
    margin-bottom: 8px;
}
.sidebar-profile-box img{
    width: 100%;
    border-radius: 5px 5px 0 0 ;
    border-top: 1px solid #dfdeda ;
}
.sidebar-profile-info{
    padding: 0 15px;
    margin-bottom: 10px;
}
.sidebar-profile-info img{
    width: 65px;
    border-radius: 50%;
    background: #fff;
    padding: 0px 4px 4px 4px;
    margin-top: -37px;
    margin-left: 34%;
}
.sidebar-profile-info h1{
    font-size: 11px;
    font-weight: 600;
    color: #17171a;
    text-align: center;
}
.sidebar-profile-info p{
    font-size: 11px;
    font-weight: 300;
    text-align: center;
}
.sidebar-profile-info h1:hover{
    text-decoration: underline;
}
.connections-profile-info{
    padding: 15px 15px;
    border-top: 1px solid #dfdeda;
}
.connections-profile-info:hover{
    background: #ebebeb;
}
.connections-profile-info h6{
    font-size: 12px;
    color: #5e5e5e;
    font-weight: 500;
    margin-bottom: 3px;
}
.connections-profile-info h6 span{
    color: #378fe9;
    margin-left: 97px;
    font-weight: 600;
}
.connections-profile-info img{
    width: 12px;
    border-radius: 0;
    display: block;
}
.connections-profile-info p{
    font-size: 12px;
    color: #000;
}
.price-container{
    display: flex;
    gap: 5px;
}
.item{
    margin-left: 10px;
}
.discover-profile-info{
    padding: 10px 0px 10px 10px;
    color: #1f7cd8;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.discover-profile-info p{
    font-weight: 500;
}
.discover-profile-info p:hover{
    text-decoration: underline;
}
.discover-profile-info span{
    color: #463c3c;
    font-size: 26px;
    margin-right: 7px;
}
.discover-profile-info span:hover{
    background: #ebebeb;
    border-radius: 50%;
    padding: 0 7px;
    margin-right: 0px;
}
.discover-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.discover-more{
    padding: 15px 20px;
    border-top: 1px solid #dfdeda;
    text-align: center;
    color: #888888;
}
.discover-more:hover{
    background: #ebebeb;
}
/* --------------- right-sidebar ----------------- */
.right-sidebar{
    flex-basis: 26%;
    align-self: flex-start;
}
.right-sidebar-boxs{
    padding: 10px 0px;
    border: 1px solid #dfdeda;
    border-radius: 5px;
    background: #ffffff;
}
.right-sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.right-sidebar-header h4{
    font-size: 16px;
    color: #17171a;
    font-weight: 500;
}
.bullet-point{
    border-radius: 50%;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 10px 2px 14px;
    border: 3px solid black;
}
.right-sidebar ul a p{
    color: #171717;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 0px;
}
#right-sidebar-top-news{
    display: block;
}
#right-sidebar-top-news:hover{
    background: #ebebeb;
}
#right-sidebar-top-news:last-child:hover{
    background: none;
}
.readers-sec-right-sidebar{
    display: flex;
    padding-left: 29px;
    font-size: 11px;
    color: #5e5e5e;
}
#Show-more-sec-right-sidebar{
    padding: 2px;
    margin-top: 15px;
    margin-left: 29px;
    width: 110px;
}
#Show-more-sec-right-sidebar:hover{
    background: #ebebeb;
}
#Show-more-sec-right-sidebar img{
    width: 17px;
    text-align: center;
}
.sec-cont-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
}
.ad-container{
    margin-left: 220px;
    font-size: 11px;
    font-weight: inherit;
    color: #000;
}
.ad-container span{
    letter-spacing: -1px;
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
}
.sec-cont-box .ad-text{
    font-size: 11px;
    font-weight: initial;
    color: #737373;
}
.right-sidebar-logo-pic img{
    width: 70px;
    padding: 6px 8px;
}
.right-sidebar-logo-pic img:last-child{
    width: 80px;
}
.ad-sed-rext{
    font-size: 15px;
}
.sec-cont-box button{
    color: #378fe9;
    margin: 10px;
    padding: 7px 15px;
    border-radius: 15px;
    border: 1px solid #378fe9;
    background: #fff;
    font-size: 15px;
    font-weight: 500;
}
.footer-main-section{
    flex-basis: 25%;
    margin: 25px 25px;
}
.footer-main-section ul li img{
    width: 10px;
    margin-left: 10px;
}
.footer-main-section ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0px 18px;
    font-size: 12px;
}
.footer-main-section ul li{
    margin-bottom: 3px;
}
.footer-main-section ul li a:hover{
    color: #1f7cd8;
    text-decoration: overline;
}
.footer-copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.footer-copy-right p{
    font-size: 12px;
    text-align: center;
    color: #000;
    margin-left: 5px;
}
/* --------------- main-container ---------------- */
.main-container{
    flex-basis: 50%;
    align-self: flex-start;
}
.post-feed-container{
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #dfdeda;
    border-radius: 8px;
}
.post-feed-container input::placeholder {
    color: #252323;
    font-size: 14px;
    font-weight: 500;
}
.post-feed-container input{
    width: 35em;
    border-radius: 23px;
    padding: 0px;
    border: 1px solid #bab9b3;
    padding: 12px;
}
.post-feed-container img{
    width: 44px;
}
.profile-pic{
    display: flex;
    justify-content: space-around;
}
.post-container-profile-img{
    display: flex;
    justify-content: space-between;
    padding: 16px 45px 5px 45px;
}
.post-img{
    display: flex;
    align-items: center;
}
.post-img img{
    width: 26px;
    padding-right: 6px;
}
.post-feed-hr-line{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 2px;
}
.post-feed-hr-line hr{
    width: 85%;
    margin-right: 8px;
    color: #ccc;
    border: 1px solid #e1ded6;
}
.post-feed-hr-line span{
    color: #000;
    margin: 0px 1px;
}
.post-feed-hr-line img{
    width: 10px;
    margin: 0 0 6px 4px;
}
.main-post-feed-container{
    background-color: #fff;
    padding: 5px 0px;
    border: 1px solid #dfdeda;
    border-radius: 8px;
    margin-top: 10px;
}
.main-post-header{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 35px 1fr;
    align-items: center;
    padding: 0px 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #eaeaea;
}
.main-post-header img {
    border-radius: 50%;
    width: 25px;
}
.main-post-header img:last-child{
    width: 18px;
}
.main-post-header p{
    font-size: 10px;
}
.main-post-Container{
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2,15px); */
    grid-gap: 0px 8px;
    padding: 10px 15px;
}
.main-post-Container-1{
    grid-row: 1 / 3;
    width: 50px;
    border-radius: 50%;
}
.main-post-Container-2{
    grid-row: 1 / 1;
    grid-column: 2  / 6;
    font-size: 14px;
    color: #000;
    font-weight: 400;
}
.main-post-Container-2 span{
    font-size: 13px;
    margin-left: 4px;
    color: #676767;
}
.main-post-Container-3{
    grid-row: 2 / 3;
    grid-column: 2  / 6;
    font-size: 12px;
    font-weight: 300;
    line-height: 7px;
}
.mercado-match{
    position: relative;
    top: 4px;
    left: 2px;
}
.main-post-Container-4{
    grid-row: 2 / 3;
    grid-column: 6  / 7;
    color: #1f7cd8;
    text-align: center;
    display: flex;
    align-items: center;
}
.main-post-Container-4 span{
    font-size: 25px;
    margin-right: 4px;
}
.main-post-container-img-section{
    display: flex;
    flex-direction: column;
}
.main-post-container-img-section img{
    width: 100%;
}
.main-post-img-header{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    font-size: 13px;
    color: #1f1f1f;
}
.main-post-img-header span{
    position: relative;
    left: 460px;
    bottom: 22px;
    width: 90px;
    color: #676767;
}
.main-post-comment-container{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}
.main-post-reactions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 7px;
    border-bottom: 1px solid #eaeaea;
}
.main-post-reactions p span{
    margin-left: 5px;
}
.reactions-img{
    display: flex;
    flex-direction: row;
}
.reactions-img img{
    width: 40px;
    height: 15px;
    margin-right: 5px;
}
.comments-main-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3px 0px;
}
.comments-main-sections button img{
    width: 20px;
    margin-right: 5px;
}
.comments-main-sections button{
    display: flex;
    align-items: center;
    background: #fff;
    border: none;
    padding: 10px 30px;
}
.comments-main-sections button:hover{
    background: #ebebeb;
    border-radius: 5px;
}
.comment-input-box{
    display: flex;
    flex-direction: row;

}
.comment-input-box img{
    width: 42px;
    height: 40px;
}
.input-box input{
    width: 80%;
}
.input-box img{
    position: relative;
}